/* Search Banner */

.homeSplashFade {
    width: 100%;
    background-image: url('/img/c19hcc-splash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.homeWrapper {
  margin: auto;
  max-width: 1000px;
  margin-left: 25px;
  text-align: left;
}

.heroText {
  font-family: 'trade-gothic-next-compressed';
  margin-top: 26px;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;

  padding: 20px 20px 0px 20px;
}

.heroTextYellow {
  font-family: 'trade-gothic-next-compressed';
  font-size: 50px;
  line-height: 60px;
  color: #fff601;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;

  padding: 0px 0 20px 0;
  padding-left: 20px;
  padding-right: 20px;
}


.searchBanner {
  height: 223px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content Blocks */
.mainContainer {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1100px;
}

.row {
  display: flex;
  flex-direction: row;
}

.contentBlock {
  border-top: 3px solid;

  margin: 0px 25px;
  padding-top: 10px;
  min-height: 215px;

  flex: 1;
}

.contentBlockHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.contentBlockTitle {
  font-size: 20px;
  font-weight: normal;
  color: #151c3d;
}

.contentBlockInner {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.64;
}

.contentAction {
  margin-top: 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.titleBlock {
  margin: 0px 26px;
  padding-top: 0px;
  min-height: 215px;

  flex: 1;
}

.titleBlockHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.titleBlockTitle {
  font-size: 32px;
  font-weight: normal;
  color: #151c3d;
}

.titleBlockInner {
  display: flex;
  font-size: 16px;
  font-weight: normal;
  flex-direction: column;
  line-height: 1.5;
}


@media only screen and (max-width: 996px) {
  .row {
    display: block;
  }
}

@media only screen and (min-width: 1500px) {
  .mainContainer {
    max-width: 1400px;
  }
}
