/* Search Banner */

.homeSplashFade {
  background-image: url('/img/c19hcc-splash.png');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
}
.homeContainer .homeWrapper {
  padding: 0;
}
.searchBanner {
  height: 223px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content Blocks */
.mainContainer {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1100px;
}

.row {
  display: flex;
  flex-direction: row;
}

.contentBlock {
  border-top: 3px solid;

  margin: 0px 25px;
  padding-top: 10px;
  min-height: 215px;

  flex: 1;
}

.contentBlockHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.contentBlockTitle {
  font-size: 20px;
  font-weight: normal;
  color: #151c3d;
}

.contentBlockInner {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.64;
}

.contentAction {
  margin-top: 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

@media only screen and (max-width: 996px) {
  .row {
    display: block;
  }
}

@media only screen and (min-width: 1500px) {
  .mainContainer {
    max-width: 1400px;
  }
}
