.schema {
  margin-top: 36px;
}

.schemaTable_column {
  max-width: 450px;
  min-width: 100px;
}

.fieldEnumValue {
  font-size: 10px;
  font-family: trade-gothic-next;
}

.regexRestriction {
  font-size: 10px;
  font-family: trade-gothic-next;
}

/* Fields Tag */
.tag.fields {
  margin-left: 7px;
  background-color: #4f546d;
  font-family: trade-gothic-next;
}

.fileExampleHighlight {
  font-weight: 600;
  font-family: trade-gothic-next;
}

/* Field Description */
.fieldDescription {
  width: 100%;
  font-size: 12px;
  font-family: trade-gothic-next;
}

.fieldDescription .name {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Permissible Values */

.codeList {
  padding: 4px 0;
  color: #1411b8;
  font-family: trade-gothic-next;
}

.codeList .toggleMore {
  color: #523785;
  text-decoration: underline;
  display: flex;
  align-content: center;
}

.codeList .toggleMore:hover {
  cursor: pointer;
}

.codeList .toggleMore svg {
  margin-left: 2px;
  margin-top: 1px;
}
