.DS_Store
.vscode
*/node_modules
lib/core/metadata.js
lib/core/MetadataBlog.js
temp/
.env
website/src/pages/dictionary/**
website/static/data/schemas/**
website/node_modules
website/build
website/.docusaurus
website/.cache-loader
website/.DS_Store
website/.env.example
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
