.DS_Store
.vscode
scripts/node_modules
website/node_modules/[a-z]**
website/node_modules/.**
website/node_modules/@[a-c]**
website/node_modules/@[e-z]**
lib/core/metadata.js
lib/core/MetadataBlog.js
temp/

.env
website/build
website/.docusaurus
website/.cache-loader

website/.DS_Store
website/.env.example
website/npm-debug.log*

