.tag.required {
  background-color: #e75471;
}

.tag.conditional {
  background-color: #ec8f17;
}

.tag.optional {
  background-color: #00b3d3;
}

.tag.derived {
  background-color: #00c79d;
}

.tag.extended {
  background-color: #a1a4b1;
}
